<div class="card-body">
    <blockquote class="blockquote mb-0">
      <p><%= comment.body %></p>
      <footer class="blockquote-footer"><%= comment.commenter %></footer>
    </blockquote>    
      <%= link_to 'Destroy Comment', [comment.article, comment],
                  class: "badge bg-primary text-decoration-none link-light",
                  method: :delete,
                  data: { confirm: "Are you sure?" } %>
    
    <br>
</div>